
<head>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my.css' )}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

</head>

<body>

    <div class="container">

        <nav class="navbar">
            <div class="navbar-header">
                <h1 id="logo">Questions</h1>
            </div>
            <div class="navbar-right">
                <p class="navbar-text"><a href="/ask">Ask a question</a></p>
                <p class="navbar-text">Login</p>
            </div>
        </nav>
        <br><br>
        <table class="table table-hover table-condensed">
            {% for question in questions %}
            <tr class="question-container">
                <td class="vote-count-container" style="text-align: center;"><h3>10<br><small>points</small></h3></td>
                <td class="question-text-container">
                    <h3>
                        <a href="/question?id={{question[0]}}">{{question[1] | safe}}</a> <br><br>
                        <small>
                            asked by {{question[3]}} |  {{answers_cnts[question[0]]}} answers | upvote
                        </small>
                    </h3>
                </td>
            </tr>
            {% endfor %}
        </table>

        <br><br>

        <div style="text-align: center;">
            <p>© 2016, Divyanshu Kakwani &lt;divkakwani@gmail.com&gt;</p>
        </div>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
